.btn {
    border-radius: 2rem !important;
    font-size: 0.8em !important;
    border: 0 !important;
    height: 40px !important;
    padding: 0 1.5rem !important;
    transition: 0.5s ease-in-out !important;
}

.btn:hover {
    box-shadow: 3px 3px 16px 1px rgba(50, 52, 57, 0.75) !important;
    -webkit-box-shadow: 3px 3px 16px 1px rgba(50, 52, 57, 0.75) !important;
    -moz-box-shadow: 3px 3px 16px 1px rgba(50, 52, 57, 0.75) !important;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination>.active>a {
    background-color: #fefefe;
    border-color: #fefefe;
    color: skyblue;
}

.pagination>li>a {
    border: 1px solid #fefefe;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: skyblue;
    border-radius: 1rem;
    color: #fefefe !important;
    border-color: #fefefe;
    outline: none;
}

.pagination>li>a,
.pagination>li>span {
    color: skyblue
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: unset
}